
@{
    ViewBag.Title = "Index";
}

<div class="centered"><h2 class="myFooterText text2">Welcome</h2></div>
<div class="box text centered myFooterText">
    @Html.ActionLink("View Customers", "CustomerList")

</div> 