
@{
    ViewBag.Title = "Index";
}

<div class="centered "><h2 class="myFooterText text2">Welcome</h2></div>
<div class="box text centered myFooterText">
    @Html.ActionLink("Add Compound", "CreateCompound")<br />

    @Html.ActionLink("Create a Work Order", "CreateWorkOrder")<br />

    @Html.ActionLink("View Work Orders", "WorkList")<br />
</div>

