
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Add Compound", "CreateCompound")<br />

@Html.ActionLink("Create a Work Order", "CreateWorkOrder")<br />

@Html.ActionLink("View Work Orders", "WorkList")<br />

@Html.ActionLink("View Work Orders", "TestList")
