
@{
    ViewBag.Title = "About";
}

<div class="centered"><h2 class="myFooterText text2">About</h2></div>
<div class="box">
    <h4 class="myFooterText text centered">
        Northwest Labs Pharmaceutical provides chemical and compound tests for companies needing in-depth assay analysis.
        Northwest Labs is a global business with pharmaceutical labs in Singapore and corporate offices located in Seattle.
        We have been very successful and are known by many large corporations as leaders in pharmaceutical research and testing.
    </h4>
</div>
