
@{
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>

<h4>
    Northwest Labs has two main offices. One is located in Seattle and the other is located in Singapore. For Questions, Comments, or concerns, 
    please contact the Seattle Office at 431-329-4444.
</h4>

