
@{
    ViewBag.Title = "Contact";
}
<div class="centered"><h2>Contact</h2></div>

<div class="box">
    <h4>
        Northwest Labs has two main offices. One is located in Seattle and the other is located in Singapore. For Questions, Comments, or Concerns,
        please contact the Seattle Office at 431-329-4444.
    </h4>
</div>
