
@{
    ViewBag.Title = "Index";
}



<div class="jumbotron" style="background-image: url(http://www.aromalaboratories.com/img/slideA3.jpg); background-size: cover;">
    <div class="container for-about">
        <h1 class="myFooterText"><br /><br /><br /><br /><br />Northwest Labs Pharmaceutical</h1>
    </div>
</div>

